* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f0f8ff;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #80cbc4;
    color: white;
}

header .logo {
    font-size: 1.8rem;
    font-weight: bold;
}

header input {
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 20px;
}

header .icons span {
    margin-left: 20px;
    font-size: 1.5rem;
    cursor: pointer;
}

.container {
    display: flex;
    margin-top: 20px;
    padding: 0 30px;
}

.sidebar-left {
    width: 200px;
    background-color: #00897b;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.sidebar-left ul {
    list-style: none;
}

.sidebar-left ul li {
    padding: 15px 0;
    cursor: pointer;
}

.sidebar-left ul li:hover {
    text-decoration: underline;
}

a{
    color:white;
    text-decoration: none;
}
main {
    flex-grow: 1;
    margin: 0 20px;
}

.events-section h2,
.events-section h3 {
    color: #00897b;
    margin-bottom: 15px;
}

.calendar,
.past-events,
.create-event {
    margin-bottom: 30px;
}

.event {
    background-color: white;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event h4 {
    color: #00897b;
}

.register-btn {
    background-color: #00897b;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.register-btn:hover {
    background-color: #00897b;
}

.past-events .event-photo {
    display: inline-block;
    margin-right: 15px;
}

.past-events img {
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.create-event form {
    display: flex;
    flex-direction: column;
}

.create-event input,
.create-event textarea {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.create-event button {
    padding: 10px;
    background-color: #00897b;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
}

.create-event button:hover {
    background-color: #00897b;
}

.sidebar-right {
    width: 250px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.sidebar-right h3 {
    color:#00897b ;
    margin-bottom: 15px;
}

.suggestions ul {
    list-style: none;
    padding: 0;
}

.suggestions ul li {
    margin: 10px 0;
    cursor: pointer;
}

.ads p {
    color: #333;
    font-weight: bold;
}
